* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-img img {
    width: 90%;
    margin-top: 0;
}

.home {
    background: url(https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box4 {
    min-height: 200px;
}

@media (max-width:767px) {
    .home-img img {
        width: 90%;
        padding: 0px 20px;
    }
}

.contact-form span {
    color: #61b752;
    margin-top: 10px;
    display: block;
}